* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 500vh;
  background-color: #002530;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}